#app {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  padding: 45px 130px 0;
}

main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.app__image {
  position: absolute;
  inset: 0;
  z-index: -1;
}

.app__image img {
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 64px;
}

.button__menu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  row-gap: 10px;
  width: 46px;
  background: transparent;
}

.button__menu span {
  display: block;
  width: 100%;
  height: 3px;
  border-radius: 6px;
  background: #EC1D24;
}

.button__menu span:last-child {
  width: 45%;
}

.feature__movie {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 12px;
}

.rating {
  display: flex;
  align-items: center;
  -moz-column-gap: 18px;
       column-gap: 18px;
}

.feature__movie span, .rating strong, .feature__movie button {
  font-size: 1.25rem;
  line-height: 1.5rem;
}

.rating strong {
  font-weight: 600;
}

.feature__movie h1 {
  font-size: 3rem;
  line-height: 4rem;
  font-weight: 700;
}

.feature__movie p {
  font-size: 1.25rem;
  line-height: 2rem;
  font-weight: 400;
  width: 100%;
  max-width: 540px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  /* number of lines to show */
  -webkit-box-orient: vertical;
}

.feature__movie button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  margin-top: 20px;
  width: 250px;
  height: 70px;
  padding: 0 42px;
  border-radius: 70px;
  background: var(--linear);
  box-shadow: 0px 3px 50px rgba(0, 0, 0, 0.160784);
  transition: filter 0.6s;
}

.feature__movie button:hover {
  filter: brightness(0.85);
}

.movies {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.movies h2 {
  font-size: 1.75rem;
  line-height: 2.125rem;
  font-weight: 700;
}

.movies > div {
  height: 640px;
  overflow: auto;
  padding-right: 44px;
}

.movies > div::-webkit-scrollbar {
  width: 0.2rem;
}

/* Track */
.movies > div::-webkit-scrollbar-track {
  background: rgba(209, 6, 6, 0.61);
}

/* Handle */
.movies > div::-webkit-scrollbar-thumb {
  background: #EC1D24;
}

.movies ul {
  display: flex;
  flex-direction: column;
}

.movie {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  position: relative;
  padding-left: 10px;
  padding-bottom: 16px;
  width: 265px;
  height: 150px;
  border-radius: 8px;
  overflow: hidden;
}

.movie:not(:first-child) {
  margin-top: 50px;
}

.movie span {
  font-size: 0.875rem;
  line-height: 1.125rem;
  font-weight: 400;
  margin-bottom: 6px;
}

.movie strong {
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 600;
}

.movie button {
  position: absolute;
  inset: 0;
  margin: auto;
  background: transparent;
  width: 36px;
  height: 36px;
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.6s;
}

.movie:hover button {
  opacity: 1;
  transform: translateY(0);
}

.movie__image {
  position: absolute;
  inset: 0;
  z-index: -1;
}

.movie__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}
@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}
body, button, textarea, input {
  color: #FFFFFF;
  font: 400 1rem "Montserrat", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: 0;
}

button:hover {
  cursor: pointer;
}/*# sourceMappingURL=styles.css.map */